@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASPReportTest</title>
</head>
<body>
    <div>
        @Html.Partial("ReportViewerASPX")
    </div>
</body>
</html>
