<!-- Page-Level Demo Scripts - Tables - Use for reference -->

<script type="text/javascript">
    function pageLoad() {
        LeftMenuGenerate();
    }
    $(document).ready(function () {

        $(function () {
            setTimeout(function () {
                LeftMenuGenerate();
            }, 1000);
        });
    });

    function LeftMenuGenerate() {
        $.ajax({
            url: 'MenuHandler.ashx',
            method: 'get',
            datatype: 'json',
            success: function (data) {
                buildMenu($('#side-menu'), $.parseJSON(data));

                //buildMenu($('ul.nav'), $.parseJSON(data));
            }
        });
    };

    function buildMenu(parent, item) {
        $(item).each(function () {
            var li = $('<li ></li>');
            var liInnerHtml = $('<a><i class="' + this.CssClass + '"></i><span class="fa fa-chevron-down">' + this.MenuText + '</span></a>');

            if ($(this.List).length == 0) {
                liInnerHtml.appendTo(li);
            }

            //if (!this.IsActive) {
            //    li.addClass('ui-state-disabled');
            //}

            //if ($(this.List).length == 0) {
            //    $(li).find('span').removeClass('arrow');
            //}

            li.appendTo(parent);

            if ($(this.List).length > 0) {
                //var liSubMenuInnerHtml = $('<a><i class="' + this.CssClass + '"></i><span class="hidden-tablet">' + this.MenuText + '</span></a>');
                //liSubMenuInnerHtml.appendTo(li);
                //var ul = $('<ul class="nav child_menu"></ul>');
                var ul = $('<ul class="nav child_menu"></ul>');
                ul.appendTo(li);
                build2ndLevelMenu(ul, $(this.List));
            }
        });
    };

    function build2ndLevelMenu(parent, item) {
        $(item).each(function () {

            var li = $('<li ></li>');
            var liInnerHtml = $('<a href="' + this.URL + '"><i class="' + this.CssClass + '"></i><span>' + this.MenuText + '</span></a>');
            liInnerHtml.appendTo(li);

            //if (!this.IsActive) {
            //    li.addClass('ui-state-disabled');
            //}
            li.appendTo(parent);
        });
    };

</script>

@*<li>
    <a href="index.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> Dashboard</span></a>
</li>*@