<!-- PopUp Success -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="ShowProcessingModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divProcessing" class="center" style="text-align: center;">
                <img class="img center" src="~/Content/images/gears.gif" />
                @*<img src="~/Content/images/ajax-loader.gif" />*@<br />
                <p>Please Wait ...</p>
            </div>
        </div>
    </div>
</div>
<!-- PopUp Success -->
